html,
body,
ul,
ol,
li,
p {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: url(../../images/home/back-1.png);
}

ul {
    list-style: none;
}


/* 清除浮动*/

.fix {
    *zoom: 1;
    &:after{
      display: table;
      content: '';
      clear: both;
    }
}
